/node_modules
/coverage
/.log
/.rr
/.husky
/.bldr
/.bldr-*
/vite-dist
/vite-output.json
/vite-analysis.json

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.#*
.*.swp
.vs/

vendor/
output/

__debug_bin*
debug.test*
.aider*
/.tools/
.env
test-results/
.tmp-*
__screenshots__
